body {
    background-color: #ADA2FF;

}

hr {
    background-color: #ADA2FF;
    border-style: none ;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height:0px ;
    width: 5%;
}
img{
    height: 200px; 
 }

 h1{
    color: aqua;
 }
 h3{
    color: aqua;
 }



